.btn {
  display: inline-block;
  padding: 0.75rem 1rem;
  background: #333;
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
}

.btn:hover {
  background: #1ce;
  color: #333;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  background: #333;
  transition: transform 0.3s ease-out;
}

.sidebar ul {
  margin: 0;
  padding: 0;
}

.sidebar li {
  list-style: none;
}

.sidebar li + li {
  border-top: 1px solid #fff;
}

.sidebar a {
  display: block;
  padding: 1rem 1.5rem;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.sidebar a:hover {
  background: #1ce;
  color: #333;
}

.is-hidden {
  transform: translateX(300px);
}
